.event-page {
  padding: 1em;
  margin-top: 1em;

  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    display: flex;
    justify-content: start;
  }
}

.event-page:nth-child(2) {
  order: 3;
}

.custom-swiper {
  border-top: solid 0.1em #c7cdd9;
}

@media (max-width: 5440px) {
  .custom-swiper {
    border-top: none;
  }
}

@media (max-width: 480px) {
  .event-page:nth-child(2) {
    order: 2;
  }
}